<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/default}">
<head>
    <title>Items</title>
</head>
<body>
<div layout:fragment="main-content">
    <div class="row justify-content-center">
        <div class="col-10 h3 mb-5">Items</div>
        <div class="col-10">
            <th:block th:if="${not #lists.isEmpty(page.content)}">
                <table id="items" class="table table-hover">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col" class="text-right">Price</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, state : ${page.content}">
                        <td th:text="${item.id}" scope="row">58</td>
                        <td th:text="${item.name}" style="white-space:nowrap">Item-002</td>
                        <td th:text="${#numbers.formatInteger(item.price,3,'COMMA')}" class="text-right">200</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm" data-role="detail" th:data-ref-id="${item.id}">Detail</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <nav id="item-pagination" aria-label="Page navigation example"></nav>
            </th:block>
            <div class="alert alert-danger" role="alert" th:if="${#lists.isEmpty(page.content)}">No Data Found!!</div>
        </div>
    </div>
</div>
<th:block layout:fragment="js-code">
    <script th:inline="javascript">
        $(function() {
            $('#item-pagination').bootpag({
                total: [[${page.totalPages}]],
                page: [[${page.number} + 1]]
            }).on('page', function(event, num){
                $.get('items?page=' + num, function(result) {
                    $('#items').html($(result).find('table[id=items]').html());
                    $('#items').find('.btn').bind('click', function() {
                        showDetails($(this));
                    });
                });
            });

            $('.btn').click(function() {
                showDetails($(this));
            });
        });

        function showDetails($btn) {
            $.get('item/' + $btn.attr('data-ref-id'), function(result) {
                alert(result.name);
            });
        }
    </script>
</th:block>
</body>
</html>