<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/all.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <link th:href="@{/css/seriftc.css}" rel="stylesheet">
    <style>
    </style>
</head>
<body>
<!-- header -->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-end">
                        <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/payment/home}">Payment</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/reception/home}">Reception</a>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contact}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!-- banner -->
<section class="index-banner text-center">
    <div class="container">
        <h1>請點選上方連結</h1>
        <p class="index-subtitle">Smart system with high performance.</p>
    </div>
</section>
<!-- footer -->
<footer class="footer-area section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>About Us</h4>
                <p>「資拓宏宇國際股份有限公司」是一個專業化、大型化與國際化之資訊通訊服務的標竿公司。</p>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Contact Info</h4>
                <ul>
                    <li>公司總部：22041 新北市板橋區縣民大道二段7號6樓</li>
                    <li>電話：(02)8969-1969</li>
                    <li>傳真：(02)8969-3359</li>
                </ul>
            </div>
            <div class="col-xl-2 col-sm-6 mb-4 mb-xl-0 single-footer-widget">
                <h4>Important Link</h4>
                <ul>
                    <li><a href="http://www.iisigroup.com/">資拓宏宇</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom row align-items-center text-center text-lg-left">
            <p class="footer-text m-0 col-lg-8 col-md-12">資拓宏宇國際股份有限公司 © 2017</p>
            <div class="col-lg-4 col-md-12 text-center text-lg-right footer-social">
                <a href="#"><i class="ti-facebook"></i></a>
                <a href="#"><i class="ti-twitter-alt"></i></a>
                <a href="#"><i class="ti-dribbble"></i></a>
                <a href="#"><i class="ti-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>